<li><strong>Date: </strong>{{announcement.date}}<br>
    <strong>Title: </strong>{{announcement.title}}<br>
    <strong>Message: </strong>{{announcement.message}}
    <button {{action 'deleteAnnouncement' announcement}}>Delete</button>
</li><br>
